<?xml version="1.0"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity 
                    name="nunit.framework" 
                    publicKeyToken="96d09a1eb7f44a77" 
                    culture="Neutral" /> 
                    
                <!-- The <nunit2> task was built targeting 
                     version 2.2.8.0 of NUnit. This means we need 
                     to redirect the assembly from 2.2.8.0 to the 
                     newer version.
                
                     N.B.: Make sure to use the version of NUnit 
                     you have installed for "newVersion", and not 
                     necessarily 2.5.10.11092!
                -->
                <bindingRedirect 
                    oldVersion="2.2.8.0" 
                    newVersion="2.5.10.11092" /> 
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>